@import './variables';

@mixin container{
   max-width: $max-width;
   padding: $containerPadding;
   margin: 0px auto;
}

@mixin error {
   font-size: 16px;
   color: red;
}

@mixin title{
   font-size: 30px;
   font-weight: 700;
   padding: 15px 0;
   text-align: center;
}