@import '../../../styles/mixins';


.navigation{
   position: fixed;
   width: 100%;
   height: 50px;
  

   &__body{
      height: 100%;
      @include container;
      position: relative;
   }

   &__button{
      position: absolute;
      right: 0;
      top: 10px;
   }
}